---

---

<div class="text-center mt-[150px] lg:mt-[250px] mb-[150px]">
    <h1 class="text-6xl md:text-8xl">Welcome to <span class="whitespace-nowrap bg-gradient-to-r from-sky-600 to-cyan-400 text-transparent bg-clip-text">First Group</span> of Companies</h1>
</div>
