---
import firstGroupLogo from '../assets/FirstGroupLogo.png'
---

<nav class="bg-white text-sm md:text-md lg:text-lg xl:text-xl w-full fixed top-0 z-20 p-3 border-b border-gray-200">
    <div class='md:container mx-auto'>
        <div class="flex items-center justify-between">
            <div class='w-[10%]'>
                <div class="">
                    <a href="/">
                        <img class='' src={firstGroupLogo.src} alt="First Group Logo" />
                    </a>
                </div>
            </div>
            <div>
                <div class="bg-gray-950 text-gray-50 px-5 py-1 rounded-lg flex gap-5">
                    <div class="mt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 md:w-4 md:h-4 lg:w-5 lg:h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                        </svg>
                    </div>
                    
                    <div> 1 (888) 340- 6003</div>
                </div>
            </div>

        </div>
    </div>
</nav>